.component__hero-container {
  height: 100vw;
  background-color: black;
}

.component__hero-poster {
  height: auto;
  img {
    height: 100%;
    width: 100%;
  }
}

.component__hero-card-container {
}

.component__hero-card {
}

.component__hero-title {
}
